<div class="govuk-grid-column-one-half govuk-!-text-align-right govuk-!-margin-top-9">
   <div class="filter-wrap">
    <div class="govuk-form-group govuk-!-text-align-left govuk-!-display-inline-block">
        
        <label class="govuk-label govuk-!-font-weight-bold" for="filter">
        Filter by facility ID
        </label>

        {% if data['bank-13-filter'] == 'no' %}
        <input class="govuk-input" id="filter" name="filter" type="text">
        {% elif data['bank-13-filter'] == 'yes' %}
        <input class="govuk-input" id="filter" name="filter" type="text" value="{{ data['facility-17-ukef-id'] }}">
        {% endif %}
    </div>  

    <div class="govuk-form-group govuk-!-display-inline-block">    
        <form action="bank-3#reconciliation" method="get">
            <input type="hidden" name="bank-13-filter" value="yes">
            <button class="govuk-button govuk-!-margin-left-2 ukef-filter-button" data-module="govuk-button">Filter</button>
        </form>
    </div>
    <div class="govuk-form-group govuk-!-display-inline-block">
        
        <form action="bank-3#reconciliation" method="get">
            <input type="hidden" name="bank-13-filter" value="no">
            <button class="govuk-button govuk-button--secondary govuk-!-margin-left-2 ukef-filter-button" data-module="govuk-button">Clear filter</button>
        </form>    
    </div>  
    </div>   
</div>

