<div class="govuk-grid-column-one-third govuk-!-text-align-right govuk-!-margin-top-0">
    <div class="filter-wrap">
     <div class="govuk-form-group govuk-!-text-align-left govuk-!-display-inline-block">
         <label class="govuk-label govuk-!-font-weight-bold" for="filter">
         Filter by facility ID
         </label>
         <input class="govuk-input" id="filter" name="filter" type="text">
     </div>  
     <div class="govuk-form-group govuk-!-display-inline-block">    
             <input type="hidden" name="bank-13-filter" value="yes">
             <button class="govuk-button govuk-button--secondary govuk-!-margin-left-2 ukef-filter-button" data-module="govuk-button">Filter</button>
     </div>
     <div class="govuk-form-group govuk-!-display-inline-block">
             <input type="hidden" name="bank-13-filter" value="no">
             <button class="govuk-button govuk-button--secondary govuk-!-margin-left-2 ukef-filter-button" data-module="govuk-button">Clear filter</button>
     </div>  
     </div>   
  </div>