{% if data['bank-100-status'] == 'pending' %}

<p class="govuk-body">Payment details will be displayed when payments have been entered on the premium payments tab.</p>

{% elif data['bank-100-status'] == 'inprogress' or 'completed' %}
<div class="moj-filter-layout">

    <div class="moj-filter-layout__filter">
  
      <div class="moj-filter">
  
        <div class="moj-filter__header">
  
          <div class="moj-filter__header-title">
            <h2 class="govuk-heading-s">Filter</h2>
          </div>
  
          <div class="moj-filter__header-action">
  
          </div>
  
        </div>
  
        <div class="moj-filter__content">

          <div class="moj-filter__options">
  
            {{ govukRadios({
              classes: "govuk-radios--small",
              name: "currency",
              fieldset: {
                legend: {
                  text: "Currency",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "GBP",
                  text: "GBP"
                },
                {
                  value: "EUR",
                  text: "EUR"
                },
                {
                  value: "USD",
                  text: "USD"
                },
                {
                  value: "JPY",
                  text: "JPY"
                }
              ]
            }) }}
  
            {{ govukInput({
              id: 'paymentref',
              name: 'paymentref',
  autocomplete: 'false',
              label: {
                text: 'Payment reference',
                classes: 'govuk-label--s'
              }
            }) }}

            {{ govukInput({
              id: 'facilityid',
              name: 'facilityid',
  autocomplete: 'false',
              label: {
                text: 'Facility ID',
                classes: 'govuk-label--s'
              }
            }) }}
  
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Apply filter"
              }) }}
            
              {{ govukButton({
                text: "Clear filter",
                classes: "govuk-button--secondary"
              }) }}
            </div>

          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <div class="moj-filter-layout__content">
  
      <div class="moj-action-bar">
  
        <div class="moj-action-bar__filter"></div>
  
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
          </div>
        </div>
  
      </div>
  
      
        <!-- table start-->
        <table class="govuk-table stb-table" data-module="moj-sortable-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-visually-hidden">All payments</caption>
          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="descending">Amount</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Payment reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Facility ID</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Exporter</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Date received</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Reconciled by</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Date reconciled</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            
            {% if data['bank-100-show-task'] == 'two' %}
              {% include "includes/payments-table-show-task-two.html" %}

            {% elif data['bank-100-show-task'] == 'three' %}
              {% include "includes/payments-table-show-task-two.html" %}
              {% include "includes/payments-table-show-task-three.html" %}

            {% elif data['bank-100-show-task'] == 'four' %}
              {% include "includes/payments-table-show-task-two.html" %}
              {% include "includes/payments-table-show-task-three.html" %}
              {% include "includes/payments-table-show-task-four.html" %}

            {% elif data['bank-100-show-task'] == 'five' %}
              {% include "includes/payments-table-show-task-two.html" %}
              {% include "includes/payments-table-show-task-three.html" %}
              {% include "includes/payments-table-show-task-four.html" %}

            {% elif data['bank-100-show-task'] == 'six' %}
              {% include "includes/payments-table-show-task-two.html" %}
              {% include "includes/payments-table-show-task-three.html" %}
              {% include "includes/payments-table-show-task-four.html" %}
              {% include "includes/payments-table-show-task-six.html" %}

            {% elif data['bank-100-show-task'] == 'seven' %}

            {% endif %}

            </tbody>
            </table>
        <!-- table end-->

    </div>
  </div>
  {%  endif %}