<!-- bank-100-show-task three-->
<tr class="govuk-table__row">
  
  {% if data['bank-100-show-task'] == 'five' or data['bank-100-show-task'] == 'six' or data['bank-100-show-task'] == 'seven' %}


  <td class="govuk-table__cell">EUR&nbsp;3,260.00</td>

  {% elif data['bank-100-show-task'] == 'four' or data['bank-100-show-task'] == 'three' or data['bank-100-show-task'] == 'two' %}

  
  <td class="govuk-table__cell"><a href="bank-100-task2-edit" class="govuk-link govuk-link--no-visited-state">EUR&nbsp;3,260.00</a></td>
  
  {% endif %}
  
  <td class="govuk-table__cell">GEF/LLOYDS/RFND EUR</td>
  
  <td class="govuk-table__cell">
    {{ data['facility-300-ukef-id'] }}<br>
    {{ data['facility-800-ukef-id'] }}
  </td>
  
  <td class="govuk-table__cell">
    {{ data['facility-300-name'] }}<br>
    {{ data['facility-800-name'] }}
  </td>

  <td class="govuk-table__cell">{{ "2023-09-10" | govukDate("truncate") }}</td>

  <td class="govuk-table__cell">{{ data['signed-in-name'] }}</td>

  <td class="govuk-table__cell">
    {% if (data['gen1-checks'] == '0020003073') %}
    
    {{ "today" | govukDate("truncate") }} at {{ "09:47" | govukTime }}</td>
  
    {% elif data['gen1-checks'] == '' or data['gen1-checks'] == '0020002193' or data['gen1-checks'] == '0020002167' %}

    -
    {% endif %}
    
    
    

</tr>