<script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>

{% block scripts %}
  <script src="/public/javascripts/mojFrontend.js"></script>
  <script src="/public/javascripts/all.jquery.min.js"></script>
  <script src="/public/javascripts/step-by-step-navigation.js"></script>
  <script src="/public/javascripts/step-by-step-polyfills.js"></script>
{% endblock %}
<h1>Hereeeee</h1>