{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set containerClasses = "app-width-container" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/settings.scss" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
Bank reports – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head3.html" %}
  {% include "includes/primary-nav-banks-main-v3.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">

		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6"">Bank reports</h1>
	</div>
	<div class="govuk-grid-column-one-half govuk-!-text-align-right">
		<a href="view-reports-by-year" class="govuk-link govuk-link--no-visited-state">Find reports by year</a>
	</div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Current reporting period {{ data['report-month'] }}</h2>

    <p class="govuk-body">{{ data['report-month'] }} reports due to be received by {{ data['this-month-report-due'] }}.</p>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Bank</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date report received</th>
		  <th scope="col" class="govuk-table__header" aria-sort="none">Total facilities reported</th>
		  <th scope="col" class="govuk-table__header" aria-sort="none">Total fees reported</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Fees left to reconcile</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="1"><a class="govuk-link govuk-link--no-visited-state" href="#">Barclays</a></th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Reconciliation in progress</strong></td>
          <td class="govuk-table__cell" data-sort-value="230708">8 July 2023</td>
          <td class="govuk-table__cell" data-sort-value="35">35</td>
		  <td class="govuk-table__cell" data-sort-value="43">43</td>
          <td class="govuk-table__cell" data-sort-value="14">14</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="2"><a class="govuk-link govuk-link--no-visited-state" href="#">Clydesdale</a></th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Reconciliation in progress</strong></td>
          <td class="govuk-table__cell" data-sort-value="230706">6 July 2023</td>
          <td class="govuk-table__cell" data-sort-value="14">14</td>
		  <td class="govuk-table__cell" data-sort-value="14">14</td>
          <td class="govuk-table__cell" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="3"><a class="govuk-link govuk-link--no-visited-state" href="#">HSBC</a></th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Report completed</strong></td>
          <td class="govuk-table__cell" data-sort-value="230708">8 July 2023</td>
          <td class="govuk-table__cell" data-sort-value="68">68</td>
		  <td class="govuk-table__cell" data-sort-value="84">84</td>
          <td class="govuk-table__cell" data-sort-value="0">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="4"><a class="govuk-link govuk-link--no-visited-state" href="bank-100">{{ data['bank-100-name'] }}</a></th>
          <td class="govuk-table__cell">
            

            <strong class="govuk-tag">Pending reconciliation</strong> 


          </td>
          <td class="govuk-table__cell" data-sort-value="230709">{{ data['bank-100-report-received'] }}</td>
          <td class="govuk-table__cell" data-sort-value="9">
            9
          </td>
          <td class="govuk-table__cell">
            9
          </td>
		  <td class="govuk-table__cell">
            9
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="5"><a class="govuk-link govuk-link--no-visited-state" href="#">Natwest</a></th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Not received</strong></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
		  <td class="govuk-table__cell" data-sort-value=""></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="6"><a class="govuk-link govuk-link--no-visited-state" href="#">Newable</a></th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Not received</strong></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
		  <td class="govuk-table__cell" data-sort-value=""></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="7"><a class="govuk-link govuk-link--no-visited-state" href="#">Santander</a></th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Not received</strong></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
          <td class="govuk-table__cell" data-sort-value=""></td>
		  <td class="govuk-table__cell" data-sort-value=""></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Bank</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date report received</th>
		  <th scope="col" class="govuk-table__header" aria-sort="none">Total facilities reported</th>
		  <th scope="col" class="govuk-table__header" aria-sort="none">Total fees reported</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Fees left to reconcile</th>
        </tr>
      </thead>

      <h2 class="govuk-heading-m">{{ data['last-month'] }} open reports</h2>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="1"><a class="govuk-link govuk-link--no-visited-state" href="#">Barclays</a></th>
          <td class="govuk-table__cell" data-sort-value=""><strong class="govuk-tag govuk-tag--blue">Reconciliation in progress</strong></td>
          <td class="govuk-table__cell" data-sort-value="">1 July 2023</td>
          <td class="govuk-table__cell" data-sort-value="">35</td>
		  <td class="govuk-table__cell" data-sort-value="">44</td>
          <td class="govuk-table__cell" data-sort-value="">1</td>
        </tr>
      </tbody>
    </table>
    

  </div>
</div>
{% endblock %}
