{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Reconciliation - {{ data['bank-13-name'] }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head2.html" %}
  {% include "includes/primary-nav-banks-forms.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="bank-3#reconciliation" method="get">
      
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
        <span class="govuk-caption-l">{{ data['bank-13-name'] }}, {{ data['report-month'] }}</span>
        Add a payment
      </h1>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Bank reported details
          </h2>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Facility ID
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['facility-16-ukef-id'] }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Exporter
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['facility-16-name'] }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Facility base currency
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['facility-16-currency'] }}
                </dd>
              </div>


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Reported fee payable
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-16-paid'] }}
            </dd>
        </div>
    </dl>



        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Payment details</legend>
                
                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">
                    
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Currency payment was in</legend>

                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="GBP" name="bank-13-task1-currency" type="radio" value="GBP" {{ checked('bank-13-task1-currency','GBP') }}>
                            <label class="govuk-label govuk-radios__label" for="GBP">GBP</label>
                          </div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="EUR" name="bank-13-task1-currency" type="radio" value="EUR" {{ checked('bank-13-task1-currency','EUR') }}>
                            <label class="govuk-label govuk-radios__label" for="bank-13-currency1-2">EUR</label>
                          </div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="USD" name="bank-13-task1-currency" type="radio" value="USD" {{ checked('bank-13-task1-currency','USD') }}>
                            <label class="govuk-label govuk-radios__label" for="USD">USD</label>
                          </div>
   
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="JPY" name="bank-13-task1-currency" type="radio" value="JPY" {{ checked('bank-13-task1-currency','JPY') }}>
                            <label class="govuk-label govuk-radios__label" for="bank-13-currency1-4">JPY</label>
                          </div>
                    </div>
                  </fieldset>
                </div>

                {{ govukInput({
                    label: {
                      text: "Amount received",
                      classes: "govuk-label--s",
                      isPageHeading: false
                    },
                    hint: {
                      text: "Enter the amount without the currency, for example 850.00"
                    },
                    classes: "govuk-!-width-one-half",
                    id: "amount1",
                    name: "bank-13-task1-amount",
                    value: data ['bank-13-task1-amount']
                }) }}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="date1-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Date payment received
                        </legend>
                        
                        <div id="date1-hint" class="govuk-hint">
                          For example, 27 03 2023
                        </div>
                      
                        <div class="govuk-date-input" id="bank-13-task1-date">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="bank-13-task1-day">
                                Day
                              </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="bank-13-task1-day" name="bank-13-task1-day" type="text" inputmode="numeric" value="{{ data['bank-13-task1-day'] }}">
                            </div>
                          </div>
                        
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="bank-13-task1-month">
                                Month
                              </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="bank-13-task1-month" name="bank-13-task1-month" type="text" inputmode="numeric" value="{{ data['bank-13-task1-month'] }}">
                            </div>
                          </div>
                        
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="bank-13-task1-year">
                                Year
                              </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="bank-13-task1-year" name="bank-13-task1-year" type="text" inputmode="numeric" value="{{ data['bank-13-task1-year'] }}">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                
                    {{ govukInput({
                      label: {
                        text: "Payment reference (optional)",
                        classes: "govuk-label--s",
                        isPageHeading: false
                      },
                      classes: "govuk-!-width-one-half",
                      id: "13-task1-reference",
                      name: "bank-13-task1-reference",
                      value: data ['bank-13-task1-reference']
                  }) }}
                  
                  <div class="govuk-button-group">
                    {{ govukButton({
                      text: "Save"
                    }) }}
                    <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
                  </div>
            </fieldset>   
  </form>
</div>

</div>
{% endblock %}
