{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ data['bank-13-name'] }} – {{ data['report-month'] }} report – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
  {% include "includes/primary-nav-banks-main.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{ data['bank-13-name'] }}
    </h1>

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Current report',
        href: '#1',
        active: true
      }, {
        text: 'Historical reports',
        href: '#2'
      }]
    }) }}


    <h2 class="govuk-heading-l">
      {{ data['report-month'] }}
    </h2> 
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#report">
              Utilisation
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#reconciliation">
              Premium payments
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#payments-received">
              Reconciliation summary
            </a>
          </li>
        </ul>
        
        <div class="govuk-tabs__panel" id="report">

          <h2 class="govuk-heading-l">Bank report</h2>
          
          <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">Download Excel report submitted by bank</a></p>

          <table class="govuk-table" data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--l"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Value</th>  
                <th scope="col" class="govuk-table__header" aria-sort="none">Utilisation</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF cover</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF exposure</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fees accrued</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fee payable to UKEF</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-16-ukef-id'] }}"><a href="#">{{ data['facility-16-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-16-name'] }}</td>
                <td class="govuk-table__cell" data-sort-value="600000">{{ data['facility-16-currency'] }} {{ data['facility-16-limit'] }}</td>
                <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-16-currency'] }} {{ data['facility-16-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-16-cover'] }}</td>
                <td class="govuk-table__cell" data-sort-value="320000">{{ data['facility-16-currency'] }} {{ data['facility-16-exposure'] }}</td>
                <td class="govuk-table__cell" data-sort-value="10000">{{ data['facility-16-currency'] }} {{ data['facility-16-accrued'] }} </td>
                <td class="govuk-table__cell" data-sort-value="1000">{{ data['facility-16-currency'] }} {{ data['facility-16-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-17-ukef-id'] }}"><a href="#">{{ data['facility-17-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                <td class="govuk-table__cell" data-sort-value="300000">{{ data['facility-17-currency'] }} {{ data['facility-17-limit'] }}</td>
                <td class="govuk-table__cell" data-sort-value="125000">{{ data['facility-17-currency'] }} {{ data['facility-17-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-17-cover'] }}</td>
                <td class="govuk-table__cell" data-sort-value="100000">{{ data['facility-17-currency'] }} {{ data['facility-17-exposure'] }}</td>
                <td class="govuk-table__cell" data-sort-value="3600">{{ data['facility-17-currency'] }} {{ data['facility-17-accrued'] }} </td>
                <td class="govuk-table__cell" data-sort-value="800">{{ data['facility-17-currency'] }} {{ data['facility-17-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-17-ukef-id'] }}"><a href="#">{{ data['facility-17-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                <td class="govuk-table__cell" data-sort-value="800000">{{ data['facility-17-currency'] }} {{ data['facility-17-limit'] }}</td>
                <td class="govuk-table__cell" data-sort-value="200000">{{ data['facility-17-currency'] }} {{ data['facility-17-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-17-cover'] }}</td>
                <td class="govuk-table__cell" data-sort-value="160000">{{ data['facility-17-currency'] }} {{ data['facility-17-exposure'] }}</td>
                <td class="govuk-table__cell" data-sort-value="50000">{{ data['facility-17-currency'] }} {{ data['facility-17B-accrued'] }} </td>
                <td class="govuk-table__cell" data-sort-value="2000">EUR {{ data['facility-17B-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-18-ukef-id'] }}"><a href="#">{{ data['facility-18-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                <td class="govuk-table__cell" data-sort-value="800000">{{ data['facility-18-currency'] }} {{ data['facility-18-limit'] }}</td>
                <td class="govuk-table__cell" data-sort-value="200000">{{ data['facility-18-currency'] }} {{ data['facility-18-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-18-cover'] }}</td>
                <td class="govuk-table__cell" data-sort-value="160000">{{ data['facility-18-currency'] }} {{ data['facility-18-exposure'] }}</td>
                <td class="govuk-table__cell" data-sort-value="50000">{{ data['facility-18-currency'] }} {{ data['facility-18-accrued'] }} </td>
                <td class="govuk-table__cell" data-sort-value="2000">{{ data['facility-18-currency'] }} {{ data['facility-18-paid'] }} </td>
              </tr>
            </tbody>
          </table>
          </div>
        <!-- end of report tab -->
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation">
          
          {% if 'no' in data['bank-13-start'] %}

          <!-- Show this by deafault: enabling reconciling to start. Always goes to bulk payment option -->
           <form class="form" action="bank-3#reconciliation" method="get">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                      
                  <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend--m">
                          Have any payments been received?
                        </legend>
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Yes" name="bank-13-received" type="radio" value="Yes" data-aria-controls="conditional-yes">
                            <label class="govuk-label govuk-radios__label" for="Yes">
                              Yes
                            </label>
                          </div>
                          
                          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">

                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    How have payments been received?
                                </legend>
                                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="bulk" name="bank-13-received-how" type="radio" value="bulk">
                                    <label class="govuk-label govuk-radios__label" for="bulk">
                                      Bulk payments per currency
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="per-facility" name="bank-13-received-how" type="radio" value="per-facility">
                                    <label class="govuk-label govuk-radios__label" for="per-facility">
                                      Payments per facility
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Not-yet" name="bank-13-received" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="Not-yet">
                              No
                            </label>
                          </div>
          
                        </div>
                      </fieldset>
                    </div>
          
                  </div>
              </div>
          
              <button class="govuk-button" data-module="govuk-button">
              Continue
              </button>
              <input type="hidden" name="bank-13-start" value="yes">
              
            </form>

            {% elif 'yes' in data['bank-13-start'] %}
            <!-- Show this when ready to start reconciliing -->
            
            <h2 class="govuk-heading-l">Reported fees to reconcile</h2>

            <!--<h2 class="govuk-heading-l">All reported fees reconciled</h2>-->
            
            <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header govuk-!-padding-top-0" scope="col" id="select-all"></th>
                  <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Base currency</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Reported fees payable<br>(currency reported in)</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Total reported<br>(base currency)</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Payments received</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Total received<br>(base currency)</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>            
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ data['facility-16-ukef-id'] }}">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ data['facility-16-ukef-id'] }}">
                        <span class="govuk-visually-hidden">{{ data['facility-16-ukef-id'] }}</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="{{ data['facility-16-ukef-id'] }}">{{ data['facility-16-ukef-id'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-16-name'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-16-currency'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-16-currency'] }} {{ data['facility-16-paid'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-16-currency'] }} {{ data['facility-16-paid-total'] }}</td>
                  
                  <td class="govuk-table__cell">
                    {% if data['bank-13-task1'] == 'done' %}
                      <!-- task1 currency | task1 amount -->
                      {{ data['bank-13-task1-currency'] }} {{ data['bank-13-task1-amount'] }}
                    {% endif %}
                  </td>
                  
                  <td class="govuk-table__cell">
                    {% if data['bank-13-task1'] == 'done' %}
                      <!-- task1 currency | task1 amount -->
                      {{ data['bank-13-task1-currency'] }} {{ data['bank-13-task1-amount'] }}
                    {% endif %}
                  </td>

                  <td class="govuk-table__cell">
                    {% if (data['bank-13-task1'] == '') or (data['bank-13-task1'] == 'start') %}
                      <strong class="govuk-tag">To&nbsp;do</strong>
                    {% elif data['bank-13-task1'] == 'done' %}
                      <strong class="govuk-tag govuk-tag--green">Match</strong>
                    {% endif %}
                  </td>

                </tr>

                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ data['facility-17-ukef-id'] }}">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ data['facility-17-ukef-id'] }}">
                        <span class="govuk-visually-hidden">{{ data['facility-17-ukef-id'] }}</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="{{ data['facility-17-ukef-id'] }}">{{ data['facility-17-ukef-id'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-17-currency'] }}</td>
                  <td class="govuk-table__cell">EUR {{ data['facility-17B-paid'] }}
                    <br>{{ data['facility-17-currency'] }} {{ data['facility-17-paid'] }}</td>
                  
                    <td class="govuk-table__cell">{{ data['facility-17-currency'] }} {{ data['facility-17-paid-total'] }}</td>
                  
                  <td class="govuk-table__cell">
                    {% if data['bank-13-task2'] == 'done' %}
                      <!-- task2 currency | task2 amount -->
                      {{ data['bank-13-task2-currency'] }} {{ data['bank-13-task2-amount'] }}
                    {% endif %}

                    {% if data['bank-13-task3'] == 'done' %}
                      <!-- task3 currency | task3 amount -->
                      <br>{{ data['bank-13-task3-currency'] }} {{ data['bank-13-task3-amount'] }}
                    {% endif %}
                  </td>
                  
                  <td class="govuk-table__cell">
                    <!-- total payments in base from task2 and task3 --> 
                    {% if data['bank-13-task2'] == 'done' %}
                      <!-- task1 currency | task1 amount -->
                      {{ data['facility-17-currency'] }} {{ data['facility-17-paid-total'] }}
                    {% endif %}
                  </td>
                  
                  <td class="govuk-table__cell">
                    {% if (data['bank-13-task2'] == '') or (data['bank-13-task2'] == 'start') %}
                      <strong class="govuk-tag">To&nbsp;do</strong>
                    {% elif data['bank-13-task2'] == 'done' %}
                      <strong class="govuk-tag govuk-tag--green">Match</strong>
                    {% endif %}
                  </td>

                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ data['facility-18-ukef-id'] }}">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ data['facility-18-ukef-id'] }}">
                        <span class="govuk-visually-hidden">{{ data['facility-18-ukef-id'] }}</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="{{ data['facility-18-ukef-id'] }}">{{ data['facility-18-ukef-id'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-18-currency'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-18-currency'] }} {{ data['facility-18-paid'] }}</td>
                  <td class="govuk-table__cell">{{ data['facility-18-currency'] }} {{ data['facility-18-paid'] }}</td>
                  
                  <td class="govuk-table__cell">
                      {% if data['bank-13-task4a'] == 'done' %}
                        <!-- task4a currency | task4a amount -->
                        {{ data['bank-13-task4a-currency'] }} {{ data['bank-13-task4a-amount'] }}
                      {% endif %}
                      
                      {% if data['bank-13-task4b'] == 'done' %}
                        <!-- task4a currency | task4a amount -->
                        <br>{{ data['bank-13-task4b-currency'] }} {{ data['bank-13-task4b-amount'] }}
                      {% endif %}

                      {% if data['bank-13-task4c'] == 'done' %}
                        <!-- task4a currency | task4a amount -->
                        <br>{{ data['bank-13-task4c-currency'] }} {{ data['bank-13-task4c-amount'] }}
                      {% endif %}
                  </td>

                  <td class="govuk-table__cell">
                    <!-- total payments in base from task4a and task4b  and task4c --> 
                    {% if data['bank-13-task4a'] == 'done' %}
                      <!-- task1 currency | task1 amount -->
                      {{ data['facility-18-currency'] }} {{ data['facility-18-paid-total'] }}
                    {% endif %} 
                  </td>
                  
                   <td class="govuk-table__cell">
                    {% if (data['bank-13-task4a'] == '') or (data['bank-13-task4a'] == 'start') %}
                      <strong class="govuk-tag">To&nbsp;do</strong>
                      {% elif (data['bank-13-task4a'] == 'done') and (data['bank-13-accepted'] == '') %}
                      <strong class="govuk-tag govuk-tag--red">Variation</strong>
                    
                      {% elif (data['bank-13-task4a'] == 'done') and (data['bank-13-accepted'] == 'yes') %}
                      <strong class="govuk-tag govuk-tag--yellow">Accept</strong>
                    {% endif %}
                  </td>
                </tr>

              </tbody>
              </table>
              

              {% if data['bank-13-show-task'] == 'one' %}
              <!-- Start view: task 1 radios -->
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <form class="form" action="bank-3-task1" method="get">
    
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                       For a selected facility
                      </legend>
                      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="add" name="bank-13-markas-task4" type="radio" value="add">
                          <label class="govuk-label govuk-radios__label" for="add">
                            Add a payment
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="override" name="bank-13-markas-task4" type="radio" value="override" data-aria-controls="conditional-override">
                          <label class="govuk-label govuk-radios__label" for="override">
                            Override 'Variation' and mark facility as 'Accepted'
                          </label>
                        </div>
    
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-override">
    
                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                  Reason for overriding
                              </legend>
                              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="variation" name="bank-13-override-reason" type="radio" value="variation">
                                  <label class="govuk-label govuk-radios__label" for="variation">
                                    Variation within tolerances
                                  </label>
                                </div>
                                
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="per-facility" name="bank-13-override-reason" type="radio" value="per-facility" data-aria-controls="conditional-other">
                                  <label class="govuk-label govuk-radios__label" for="per-facility">
                                    Other
                                  </label>
                                </div>
    
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                                  <div class="govuk-form-group">
                                    {{ govukCharacterCount({
                                      name: "other-reason",
                                      id: "other-reason",
                                      maxlength: 200,
                                      label: {
                                        text: "Enter reason",
                                        classes: "govuk-label--s govuk-!-width-one-half"
                                      }
                                    }) }}
                                  </div>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
    
                  {{ govukButton({
                    text: "Continue"
                  }) }}
                </form>
                </div>
            </div>    
            {% elif data['bank-13-show-task'] == 'two' %}
            <!-- Task 2 radios -->
            
              
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <form class="form" action="bank-3-task2" method="get">
  
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                     For a selected facility
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="add" name="bank-13-markas-task4" type="radio" value="add">
                        <label class="govuk-label govuk-radios__label" for="add">
                          Add a payment
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="override" name="bank-13-markas-task4" type="radio" value="override" data-aria-controls="conditional-override">
                        <label class="govuk-label govuk-radios__label" for="override">
                          Override 'Variation' and mark facility as 'Accepted'
                        </label>
                      </div>
  
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-override">
  
                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Reason for overriding
                            </legend>
                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="variation" name="bank-13-override-reason" type="radio" value="variation">
                                <label class="govuk-label govuk-radios__label" for="variation">
                                  Variation within tolerances
                                </label>
                              </div>
                              
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="per-facility" name="bank-13-override-reason" type="radio" value="per-facility" data-aria-controls="conditional-other">
                                <label class="govuk-label govuk-radios__label" for="per-facility">
                                  Other
                                </label>
                              </div>
  
                              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                                <div class="govuk-form-group">
                                  {{ govukCharacterCount({
                                    name: "other-reason",
                                    id: "other-reason",
                                    maxlength: 200,
                                    label: {
                                      text: "Enter reason",
                                      classes: "govuk-label--s govuk-!-width-one-half"
                                    }
                                  }) }}
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
  
                {{ govukButton({
                  text: "Continue"
                }) }}
              </form>
              </div>
              </div>
            {% elif data['bank-13-show-task'] == 'four' %}
            <!-- Task 4 radios -->
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <form class="form" action="bank-3-task4a" method="get">
  
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                     For a selected facility
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="add" name="bank-13-markas-task4" type="radio" value="add">
                        <label class="govuk-label govuk-radios__label" for="add">
                          Add a payment
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="override" name="bank-13-markas-task4" type="radio" value="override" data-aria-controls="conditional-override">
                        <label class="govuk-label govuk-radios__label" for="override">
                          Override 'Variation' and mark facility as 'Accepted'
                        </label>
                      </div>
  
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-override">
  
                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Reason for overriding
                            </legend>
                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="variation" name="bank-13-override-reason" type="radio" value="variation">
                                <label class="govuk-label govuk-radios__label" for="variation">
                                  Variation within tolerances
                                </label>
                              </div>
                              
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="per-facility" name="bank-13-override-reason" type="radio" value="per-facility" data-aria-controls="conditional-other">
                                <label class="govuk-label govuk-radios__label" for="per-facility">
                                  Other
                                </label>
                              </div>
  
                              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                                <div class="govuk-form-group">
                                  {{ govukCharacterCount({
                                    name: "other-reason",
                                    id: "other-reason",
                                    maxlength: 200,
                                    label: {
                                      text: "Enter reason",
                                      classes: "govuk-label--s govuk-!-width-one-half"
                                    }
                                  }) }}
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
  
                {{ govukButton({
                  text: "Continue"
                }) }}
              </form>
              </div>
              </div>
            {% elif data['bank-13-show-task'] == 'five' %}
            <!-- Task 5 radios -->
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
            <form class="form" action="bank-3#reconciliation" method="get">
            <input type="hidden" name="bank-13-accepted" value="yes"> 

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                   For a selected facility
                  </legend>
                  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="add" name="bank-13-markas-task5" type="radio" value="add">
                      <label class="govuk-label govuk-radios__label" for="add">
                        Add a payment
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="override" name="bank-13-markas-task5" type="radio" value="override" data-aria-controls="conditional-override">
                      <label class="govuk-label govuk-radios__label" for="override">
                        Override 'Variation' and mark facility as 'Accepted'
                      </label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-override">

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                              Reason for overriding
                          </legend>
                          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="variation" name="bank-13-override-reason" type="radio" value="variation">
                              <label class="govuk-label govuk-radios__label" for="variation">
                                Variation within tolerances
                              </label>
                            </div>
                            
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="per-facility" name="bank-13-override-reason" type="radio" value="per-facility" data-aria-controls="conditional-other">
                              <label class="govuk-label govuk-radios__label" for="per-facility">
                                Other
                              </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                              <div class="govuk-form-group">
                                {{ govukCharacterCount({
                                  name: "other-reason",
                                  id: "other-reason",
                                  maxlength: 200,
                                  label: {
                                    text: "Enter reason",
                                    classes: "govuk-label--s govuk-!-width-one-half"
                                  }
                                }) }}
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              {{ govukButton({
                text: "Continue"
              }) }}
            </form>
            </div>
            </div>
            {% endif %} 
            <!-- end of task radios -->


            {% endif %} 
            <!-- end of this: 'bank-13-start' -->

            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payments-received">
              
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
              
              <h2 class="govuk-heading-l">Reconciliation summary</h2>
              
              <!--{% if (data['bank-13-task1'] == '') or (data['bank-13-task1'] == 'start') %}
            
              <p class="govuk-body">No payments marked as received yet.</p>
              
              {% elif (data['bank-13-task1'] == 'done') %}
              <table class="govuk-table" data-module="moj-sortable-table">
                <caption class="govuk-table__caption govuk-table__caption--m"></caption>
                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Amount</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Date received</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Reconciled by</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-16-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['bank-13-task1-currency'] }} {{ data['bank-13-task1-amount'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task1-year'] + "-" + data['bank-13-task1-month'] + "-" + data['bank-13-task1-day'] ) | govukDate }}</td>
                    <td class="govuk-table__cell">{{ data['signed-in-name'] }}, {{ "today" | govukDate }} at {{ "now" | govukTime }}</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="bank-3-task1">
                      Change<span class="govuk-visually-hidden"> payment</span>
                    </a></td>
                  </tr>
                  {% endif %}

                  {% if (data['bank-13-task2'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-17-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['bank-13-task2-currency'] }} {{ data['bank-13-task2-amount'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task2-year'] + "-" + data['bank-13-task2-month'] + "-" + data['bank-13-task2-day'] ) | govukDate }}</td>
                    <td class="govuk-table__cell">{{ data['signed-in-name'] }}, {{ "today" | govukDate }} at {{ "now" | govukTime }}</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="bank-3-task2">
                      Change<span class="govuk-visually-hidden"> payment</span>
                    </a></td>
                  </tr>
                  {% endif %}

                  {% if (data['bank-13-task3'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-17-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['bank-13-task3-currency'] }} {{ data['bank-13-task3-amount'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task3-year'] + "-" + data['bank-13-task3-month'] + "-" + data['bank-13-task3-day'] ) | govukDate }}</td>
                    <td class="govuk-table__cell">{{ data['signed-in-name'] }}, {{ "today" | govukDate }} at {{ "now" | govukTime }}</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="bank-3-task3">
                      Change<span class="govuk-visually-hidden"> payment</span>
                    </a></td>
                  </tr>    
                  {% endif %}
              
                  {% if (data['bank-13-task4a'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4a-currency'] }} {{ data['bank-13-task4a-amount'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4a-year'] + "-" + data['bank-13-task4a-month'] + "-" + data['bank-13-task4a-day'] ) | govukDate }}</td>
                    <td class="govuk-table__cell">{{ data['signed-in-name'] }}, {{ "today" | govukDate }} at {{ "now" | govukTime }}</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="bank-3-task4a">
                      Change<span class="govuk-visually-hidden"> payment</span>
                    </a></td>
                  </tr>    
                  {% endif %}

                  {% if (data['bank-13-task4b'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4b-currency'] }} {{ data['bank-13-task4b-amount'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4b-year'] + "-" + data['bank-13-task4b-month'] + "-" + data['bank-13-task4b-day'] ) | govukDate }}</td>
                    <td class="govuk-table__cell">{{ data['signed-in-name'] }}, {{ "today" | govukDate }} at {{ "now" | govukTime }}</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="bank-3-task4b">
                      Change<span class="govuk-visually-hidden"> payment</span>
                    </a></td>
                  </tr>    
                  {% endif %}

                  {% if (data['bank-13-task4c'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4c-currency'] }} {{ data['bank-13-task4c-amount'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4c-year'] + "-" + data['bank-13-task4c-month'] + "-" + data['bank-13-task4c-day'] ) | govukDate }}</td>
                    <td class="govuk-table__cell">{{ data['signed-in-name'] }}, {{ "today" | govukDate }} at {{ "now" | govukTime }}</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="bank-3-task4c">
                      Change<span class="govuk-visually-hidden"> payment</span>
                    </a></td>
                  </tr>    
                  {% endif %}

              {% if (data['bank-13-task1'] == 'done') %}

            </tbody>
          </table>
              {% endif %}-->

              </div>
              </div>

  </div>
</div>

</div>
</div>
{% endblock %}
