{% if (data['bank-13-task1'] == '') or (data['bank-13-task1'] == 'start') %}
            
              <p class="govuk-body">No payments marked as received yet.</p>
              
              {% elif (data['bank-13-task1'] == 'done') %}


              <h3 class="govuk-heading-m govuk-!-margin-top-6">Payments received</h3> 

              <table class="govuk-table" data-module="moj-sortable-table">
                <caption class="govuk-table__caption govuk-table__caption--s">All payments</caption>
                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Amount</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Payment reference</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="ascending">Facility ID</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Exporter</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Date received</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    
                    <td class="govuk-table__cell"><a href="bank-3-task1-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task1-currency'] }} {{ data['bank-13-task1-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task1-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-16-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-16-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task1-year'] + "-" + data['bank-13-task1-month'] + "-" + data['bank-13-task1-day'] ) | govukDate }}</td>
                  </tr>
                  {% endif %}

                  {% if (data['bank-13-task2'] == 'done') %}
                  <tr class="govuk-table__row">
                    
                    <td class="govuk-table__cell"><a href="bank-3-task2-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task2-currency'] }} {{ data['bank-13-task2-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task2-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task2-year'] + "-" + data['bank-13-task2-month'] + "-" + data['bank-13-task2-day'] ) | govukDate }}</td>
                  </tr>
                  {% endif %}

                  {% if (data['bank-13-task3'] == 'done') %}
                  <tr class="govuk-table__row">
                    
                    <td class="govuk-table__cell"><a href="bank-3-task3-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task3-currency'] }} {{ data['bank-13-task3-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task3-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task3-year'] + "-" + data['bank-13-task3-month'] + "-" + data['bank-13-task3-day'] ) | govukDate }}</td>
                  </tr>    
                  {% endif %}
              
                  {% if (data['bank-13-task4a'] == 'done') %}
                  <tr class="govuk-table__row">
                    
                    <td class="govuk-table__cell"><a href="bank-3-task4a-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task4a-currency'] }} {{ data['bank-13-task4a-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4a-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4a-year'] + "-" + data['bank-13-task4a-month'] + "-" + data['bank-13-task4a-day'] ) | govukDate }}</td>
                  </tr>    
                  {% endif %}

                  {% if (data['bank-13-task4b'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="bank-3-task4b-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task4b-currency'] }} {{ data['bank-13-task4b-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4b-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4b-year'] + "-" + data['bank-13-task4b-month'] + "-" + data['bank-13-task4b-day'] ) | govukDate }}</td>
                  </tr>    
                  {% endif %}

                  {% if (data['bank-13-task4c'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="bank-3-task4c-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task4c-currency'] }} {{ data['bank-13-task4c-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4c-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4c-year'] + "-" + data['bank-13-task4c-month'] + "-" + data['bank-13-task4c-day'] ) | govukDate }}</td>
                  </tr>    
                  {% endif %}

              {% if (data['bank-13-task1'] == 'done') %}

            </tbody>
          </table>
              {% endif %}
              
              {% if (data['bank-13-task1'] == 'done') %}
              <table class="govuk-table" data-module="moj-sortable-table">
                <caption class="govuk-table__caption govuk-table__caption--s">GBP</caption>
                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Amount</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Payment reference</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="ascending">Facility ID</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Exporter</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Date received</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    
                    <td class="govuk-table__cell"><a href="bank-3-task1-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task1-currency'] }} {{ data['bank-13-task1-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task1-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-16-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-16-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task1-year'] + "-" + data['bank-13-task1-month'] + "-" + data['bank-13-task1-day'] ) | govukDate }}</td>
                  </tr>
                  {% endif %}
              
                  {% if (data['bank-13-task4a'] == 'done') %}
                  <tr class="govuk-table__row">
                    
                    <td class="govuk-table__cell"><a href="bank-3-task4a-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task4a-currency'] }} {{ data['bank-13-task4a-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4a-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4a-year'] + "-" + data['bank-13-task4a-month'] + "-" + data['bank-13-task4a-day'] ) | govukDate }}</td>
                  </tr>    
                  {% endif %}

                  {% if (data['bank-13-task4b'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="bank-3-task4b-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task4b-currency'] }} {{ data['bank-13-task4b-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4b-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4b-year'] + "-" + data['bank-13-task4b-month'] + "-" + data['bank-13-task4b-day'] ) | govukDate }}</td>
                  </tr>  
                  
                  {% endif %}

                  {% if (data['bank-13-task1'] == 'done') and (data['bank-13-task4a'] == '') and (data['bank-13-task4b'] == '') %}
                </tbody>
                <tfoot> 
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold" colspan="5">Total GBP 2,500.00</td>
                      </tr>    
                    </tfoot> 
                  
                </table>
                
                {% elif (data['bank-13-task1'] == 'done') and (data['bank-13-task4a'] == 'done') and (data['bank-13-task4b'] == '') %}
              </tbody>
              <tfoot> 
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold" colspan="5">Total GBP 3,500.00</td>
                    </tr>    
                  </tfoot> 
              </table>

              {% elif (data['bank-13-task1'] == 'done') and (data['bank-13-task4a'] == 'done') and (data['bank-13-task4b'] == 'done') %}
            </tbody>
            <tfoot> 
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold" colspan="5">Total GBP 3,900.00</td>
                    </tr>    
                  </tfoot> 

              </table>
              {% endif %}

            
              {% if (data['bank-13-task2'] == 'done') %}
              <table class="govuk-table" data-module="moj-sortable-table">
                <caption class="govuk-table__caption govuk-table__caption--s">EUR</caption>
                <thead class="govuk-table__head">

                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Amount</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Payment reference</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="ascending">Facility ID</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Exporter</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Date received</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="bank-3-task2-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task2-currency'] }} {{ data['bank-13-task2-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task2-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task2-year'] + "-" + data['bank-13-task2-month'] + "-" + data['bank-13-task2-day'] ) | govukDate }}</td>
                  </tr>    
                  {% endif %}

                  {% if (data['bank-13-task4c'] == 'done') %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="bank-3-task4c-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task4c-currency'] }} {{ data['bank-13-task4c-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task4c-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task4c-year'] + "-" + data['bank-13-task4c-month'] + "-" + data['bank-13-task4c-day'] ) | govukDate }}</td>
                  </tr>
                  {% endif %}

              {% if (data['bank-13-task3'] == 'done') and (data['bank-13-task4c'] == '') %}
            </tbody>
             <tfoot> 
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold" colspan="5">Total EUR 1,250.00</td>
                    </tr>    
                  </tfoot>     
                
              </table>
              {% elif (data['bank-13-task3'] == 'done') and (data['bank-13-task4c'] == 'done') %}
            </tbody>
            <tfoot> 
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold" colspan="5">Total EUR 1,370.00</td>
                    </tr>    
                  </tfoot>     
              </table>
              {% endif %}

              {% if (data['bank-13-task3'] == 'done') %}

              <table class="govuk-table" data-module="moj-sortable-table">
                <caption class="govuk-table__caption govuk-table__caption--s">USD</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Amount</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Payment reference</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="ascending">Facility ID</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Exporter</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-fifth" aria-sort="none">Date received</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="bank-3-task3-change" class="govuk-link govuk-link--no-visited-state">{{ data['bank-13-task3-currency'] }} {{ data['bank-13-task3-amount'] }}</a></td>
                    <td class="govuk-table__cell">{{ data['bank-13-task3-reference'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-ukef-id'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                    <td class="govuk-table__cell">{{ ( data['bank-13-task3-year'] + "-" + data['bank-13-task3-month'] + "-" + data['bank-13-task3-day'] ) | govukDate }}</td>
                  </tr>
                </tbody>
                 <tfoot> 
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold" colspan="5">Total USD 1,000.00</td>
                    </tr>    
                  </tfoot> 
          </table>
              {% endif %}