{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set containerClasses = "app-width-container" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/settings.scss" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
Bank reports – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
  {% include "includes/primary-nav-banks-main.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if (showBanner) and (data['bank-1-payment'] == 'Yes') %}

    <!-- Bank 1 reconciliation done and payment matches show the banner -->
    <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
      </svg>
      <div class="moj-banner__message">Bank of Scotland reconciliation complete &ndash; payment matches.</div>
    </div>
    {% elif (showBanner) and (data['bank-1-payment'] == 'No') %}

    <!-- Bank 1 reconciliation done and payment does NOT match show the banner -->
    <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
      </svg>
      <div class="moj-banner__message">Bank of Scotland reconciliation complete &ndash; payment does not match.</div>
    </div>
    {% endif %}


    {% if (showBanner2) and (data['bank-2-payment'] == 'Yes') %}

    <!-- Bank 2 reconciliation done and payment matches show the banner -->
    <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
      </svg>
      <div class="moj-banner__message">Barclays Bank reconciliation complete &ndash; payment matches.</div>
    </div>
    {% elif (showBanner2) and (data['bank-2-payment'] == 'No') %}

    <!-- Bank 2 reconciliation done and payment does NOT match show the banner -->
    <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
      </svg>
      <div class="moj-banner__message">Barclays Bank reconciliation complete &ndash; payment does not match.</div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Bank reports 
    </h1>


    

    <table class="govuk-table">


        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['bank-1-name'] }}"><a href="bank-1">{{ data['bank-11-name'] }}</a></th>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['bank-2-name'] }}"><a href="bank-2">{{ data['bank-12-name'] }}</a></th>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['bank-3-name'] }}"><a href="bank-3">{{ data['bank-13-name'] }}</a></th>
          </tr>
        </tbody>
      </table>
    

  </div>
</div>
{% endblock %}
