{% extends "layouts/main.html" %}

{% block pageTitle %}
STB reconciiation home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Short-term business reconciliation</h1>

    <h2 class="govuk-heading-m"><a href="/tfm2/" class="govuk-link govuk-link--no-visited-state">Version 2</a></h2>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 1px solid #b1b4b6 !important">

    <h2 class="govuk-heading-m">Version 1</h2>

    <p class="govuk-body govuk-!-font-size-19"><a href="/tfm/sign-in" class="govuk-link govuk-link--no-visited-state">Start with sign in</a></p>

    <p class="govuk-body govuk-!-font-size-19"><a href="/tfm/email" class="govuk-link govuk-link--no-visited-state">Start with email notification</a></p>


    <p class="govuk-body govuk-!-font-size-19">These banks and facilities are viewable:</p>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Bank"
      },
      value: {
        text: "Bank of Scotland"
      }
    },
    {
      key: {
        text: "Facilities"
      },
      value: {
        html: "Compressors Ltd (0020001371)<br>Petroleum Pipes Ltd (0020001413)"
      }
    }
  ]
}) }}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Bank"
      },
      value: {
        text: "Barclays Bank"
      }
    },
    {
      key: {
        text: "Facilities"
      },
      value: {
        html: "Marine Equipment Ltd (0020001735)<br>British Pharma Supplies Ltd (0020003073)"
      }
    }
  ]
}) }}




<p class="govuk-body govuk-!-font-size-19">*Use the <span class="govuk-!-font-weight-bold">Clear data</span> link in the footer to reset between sessions.</p>

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
