{% extends "layouts/main.html" %}

{% block pageTitle %}
Fee reconciliation tool – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">TFM &ndash; error summary and validation</h1>

	<h2 class="govuk-heading-m">Multi select table errors</h2>



	<ul class="govuk-list">
		<li><a href="/tfm3/bank-100-error-test?error-display=checkbox1#reconciliation" class="govuk-link">Checkbox error</a></li>
		<li><a href="/tfm3/bank-100-error-test?error-display=button1#reconciliation" class="govuk-link">Button error</a></li>
		<li><a href="/tfm3/bank-100-error-test-filter#reconciliation" class="govuk-link">Filter error</a></li>
	</ul>	


    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
