{% extends "layouts/main.html" %}

{% block pageTitle %}
STB reconciiation home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Short-term business reconciliation</h1>

    <div class="govuk-inset-text">Use the <span class="govuk-!-font-weight-bold">Clear data</span> link in the footer before starting the journeys again and to get back to this screen click on the UK Export Finance logo in the header.</div>


    <h2 class="govuk-heading-m">Version 1</h2>

    <p class="govuk-body"></p>

    <p class="govuk-body">To complete the reconciliation tasks follow these steps:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Complete the reconciliation process for Barclays assuming that the reported fee has been recieved.</li>
      <li>Find the Barclays report from April 2023.</li>
      <li>Complete the reconciliation process for the Bank of Scotland assuming that a different amount to the reported fee has been recieved.</li>
      <li>Find the Bank of Scotland report from May 2023.</li>
    </ol>

    <p class="govuk-body">If you want to you can view these facilities:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Compressors Ltd</li>
      <li>Petroleum Pipes Ltd</li>
      <li>Marine Equipment Ltd </li>
      <li>British Pharma Supplies Ltd</li>
    </ul>

    <p class="govuk-body">Start with the <a href="/tfm/email" class="govuk-link govuk-link--no-visited-state">email notification</a> or go straight to <a href="/tfm/sign-in" class="govuk-link govuk-link--no-visited-state">sign in</a> (no sign in details needed).</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 1px solid #b1b4b6 !important">

    <h2 class="govuk-heading-m">Version 2</a></h2>

    <p class="govuk-body">To complete the reconciliation task follow these steps:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Use the <span class="govuk-!-font-weight-bold">Clear data</span> link in the footer if you've just viewed version 1 or are starting this journey again.</li>
      <li>View this <a href="https://ukef.sharepoint.com/:x:/r/sites/pmo-PRO211/Shared%20Documents/Tranche%201/Workstream%20Areas/STB%20Reconciliation/Alpha/User%20Research/Documents/Prototype%20tasksheet%20-%20Barclays%20payments%20June%202023.xlsx?d=w2f455cf4aa8849dcaa18767b53d9d7ef&csf=1&web=1&e=zBynyR" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Excel document (opens on Sharepoint in a new tab)</a> for payments received from Barclays.
      </li>
      <li><a href="/tfm2/sign-in" class="govuk-link govuk-link--no-visited-state">Start here</a> (no sign in details needed) to begin the reconciliation process for Barclays with the amounts found on the 'Payments 1' sheet. All the other data that you need is in the prototype.</li>
      <li>Before continuing with the reconciliation task see if you can:</li>
      <ul class="govuk-list govuk-list--bullet">
      <li>make changes to the date of a payment that you've already entered</li>
      <li>find the Barclays report from May 2023</li>
      <li>filter the 'Premium payments' tab to find the facilty with the facility ID 0020002167</li>
      </ul>
      <li>Now enter the final payment found on the 'Payments 2' sheet of the Excel document into the prototype.</li>
      <li>You can now assume that all payments have now been received &ndash; continue to do what you think you need to do to complete the reconciliation process.</li>
    </ol>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 1px solid #b1b4b6 !important">




    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
