{% extends "layouts/main.html" %}

{% block pageTitle %}
Fee reconciliation tool – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Fee reconciliation tool</h1>

    <div class="govuk-inset-text">Use the <span class="govuk-!-font-weight-bold">Clear data</span> link in the footer before starting the journeys again.<br><br>To get back to this screen click on the UK Export Finance logo in the header.</div>


    
    <h2 class="govuk-heading-m">Version 1</h2>

    <h3 class="govuk-heading-s">User guide</h3>

    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>Complete the reconciliation process for Barclays assuming that the reported fee has been recieved.</li>
      <li>Find the Barclays report from April 2023.</li>
      <li>Complete the reconciliation process for the Bank of Scotland assuming that a different amount to the reported fee has been recieved.</li>
      <li>Find the Bank of Scotland report from May 2023.</li>
    </ol>

    <p class="govuk-body">If you want to you can view these facilities:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Compressors Ltd</li>
      <li>Petroleum Pipes Ltd</li>
      <li>Marine Equipment Ltd </li>
      <li>British Pharma Supplies Ltd</li>
    </ul>

    <p class="govuk-body">Start with the <a href="/tfm/email" class="govuk-link">email notification</a> or go straight to <a href="/tfm/sign-in" class="govuk-link">sign in</a> (no sign in details need to be entered).</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 1px solid #b1b4b6 !important">

    <h2 class="govuk-heading-m">Version 2</a></h2>

    <h3 class="govuk-heading-s">User guide</h3>

    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>Use the <span class="govuk-!-font-weight-bold">Clear data</span> link in the footer if you've just viewed version 1 or are starting this journey again.</li>
      <li>View this <a href="https://ukef.sharepoint.com/:x:/s/pmo-PRO211/EfRcRS-IqtxJqhh2e1PZ1-8BhoYDleAqSPsVLth13L5WvQ?e=fzNWEp&nav=MTVfe0MzQkU5RjEwLTA3MzMtNzg0QS05QkYyLTY2NEUzNEY3NDY0RX0" class="govuk-link" rel="noreferrer noopener" target="_blank">Excel document (opens on Sharepoint in a new tab)</a> for payments received from Barclays.
      </li>
      <li>Start with the <a href="/tfm2/email" class="govuk-link">email notification</a> or <a href="/tfm2/sign-in" class="govuk-link">sign in</a> to begin the reconciliation process for Barclays with the amounts found on the 'Payments 1' sheet (no sign in details need to be entered on the sign in screen).</li>
      <li>Before continuing with the reconciliation task see if you can:</li>
      <ul class="govuk-list govuk-list--bullet">
      <li>make changes to the date of a payment that you've already entered</li>
      <li>find the Barclays report from May 2023</li>
      <li>filter the 'Premium payments' tab to find the facilty with the facility ID 0020002167</li>
      </ul>
      <li>Now enter the final payment found on the 'Payments 2' sheet of the Excel document into the prototype.</li>
      <li>You can assume that all payments have now been received &ndash; continue to do what you think you need to do to complete the reconciliation process.</li>
    </ol>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 1px solid #b1b4b6 !important">


    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
