{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ data['bank-13-name'] }} – {{ data['report-month'] }} report – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head3b.html" %}
  {% include "includes/primary-nav-banks-main-v3.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{ data['bank-13-name'] }}
    </h1>

    <h2 class="govuk-heading-l">
      {{ data['report-month'] }}
    </h2> 

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#report">
              Utilisation
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#reconciliation">
              Premium payments
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#summary">
              Reconciliation summary
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#keying-sheet">
              Keying sheet
            </a>
          </li>
        </ul>
        
        <div class="govuk-tabs__panel" id="report">

          <h2 class="govuk-heading-l">Bank report</h2>

        </div>
        <!-- end of report tab -->
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation">

        </div>
        <!-- end of premium payments (reconciliation) tab -->

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="summary">
              

              
              <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Reconciliation summary</h2>
              
  

        </div>
        <!-- end of summary tab -->

        <div class="govuk-tabs__panel" id="keying-sheet">

          <h2 class="govuk-heading-l">Keying sheet</h2>

          {% if (data['bank-100-show-task'] == 'reportcomplete') %}

            

              {% elif (data['bank-100-show-task'] == 'sheet-generated') %}

              <!-- this only appears when the generate button is clicked -->

			  <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

              <form class="form" action="/tfm3/bank-100-task1" method="post">
				<p class="govuk-body">Select a row and mark it as done when it has been keyed into ACBS.</p>
				
				<div class="govuk-button-group">
				  {{ govukButton({
				  text: "Mark as done",
				  name: "addaPayment",
				  value: true
				}) }}

				{{ govukButton({
				  text: "Mark as still to do",
				  classes: "govuk-button--secondary",
				  name: "addaPayment",
				  value: false
				}) }}
	
              
			</div>
			  </div>
			<div class="govuk-grid-column-one-half govuk-!-text-align-right govuk-!-margin-top-3">
				<div class="filter-wrap">
					<div class="govuk-form-group govuk-!-text-align-left govuk-!-display-inline-block">
					<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
						  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
						  <label class="govuk-label govuk-checkboxes__label" for="organisation">
							Hide 'Done' payments
						  </label>
						</div>
					</div>
				 </div>   
			 </div>
			</div>

      <table class="govuk-table" data-module="moj-sortable-table">
        <col>
        <col>
          <col>
          <col>
          <col>
          <col>
          <colgroup span="2"></colgroup>
          <colgroup span="2"></colgroup>
          <colgroup span="2"></colgroup>
				  <col>
				  <col>
          <thead class="govuk-table__head">  
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-padding-top-0" rowspan="2"></th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending" rowspan="2">Facility ID</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Exporter</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Base currency</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Fee currency</th>
            <th scope="col" class="govuk-table__header" rowspan="2">Fee payment</th>
            <th scope="col" class="govuk-table__header" colspan="2" scope="colgroup">Premium accrual balance adjustment</th>
            <th scope="col" class="govuk-table__header" colspan="2" scope="colgroup">Principal balance adjustment</th>
            <th scope="col" class="govuk-table__header" colspan="2" scope="colgroup">Fee adjustment</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Added to sheet</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Status</th>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Decrease</th>
                    <th scope="col" class="govuk-table__header">Increase</th>
                    <th scope="col" class="govuk-table__header">Decrease</th>
                    <th scope="col" class="govuk-table__header">Increase</th>
                    <th scope="col" class="govuk-table__header">Decrease</th>
                    <th scope="col" class="govuk-table__header">Increase</th>
                  </tr>
                </thead>
              
                <tbody class="govuk-table__body">
              
                  <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="">
                      <label class="govuk-label govuk-checkboxes__label" for="">
                      <span class="govuk-visually-hidden"></span>
                      </label>
                    </div>
                    </td>
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-16-ukef-id'] }}">{{ data['facility-16-ukef-id'] }}</th>
                    <td class="govuk-table__cell">{{ data['facility-16-name'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-16-currency'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-16-currency'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-16-paid'] }}</td>
                    <td class="govuk-table__cell">1,140.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">300,000.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">6,230.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">6 Jul 2023</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Done</strong></td>
                  </tr>
                  
                  <tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
						<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
						  <input type="checkbox" class="govuk-checkboxes__input" id="">
						  <label class="govuk-label govuk-checkboxes__label" for="">
							<span class="govuk-visually-hidden"></span>
						  </label>
						</div>
					  </td>
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-16-ukef-id'] }}">{{ data['facility-17-ukef-id'] }}</th>
                    <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-currency'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-currency'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-paid'] }}</td>
                    <td class="govuk-table__cell">400.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">140,000.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">2,312.00</td>
                    <td class="govuk-table__cell">-</td>
					<td class="govuk-table__cell">6 Jul 2023</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Done</strong></td>
                  </tr>
                  <tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
						<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
						  <input type="checkbox" class="govuk-checkboxes__input" id="">
						  <label class="govuk-label govuk-checkboxes__label" for="">
							<span class="govuk-visually-hidden"></span>
						  </label>
						</div>
					  </td>
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-16-ukef-id'] }}">{{ data['facility-17-ukef-id'] }}</th>
                    <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-17-currency'] }}</td>
                    <td class="govuk-table__cell">EUR</td>
                    <td class="govuk-table__cell">1,250.00</td>
                    <td class="govuk-table__cell">500.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">80,000.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">1,123.00</td>
                    <td class="govuk-table__cell">-</td>
					<td class="govuk-table__cell">10 Jul 2023</td>
					<td class="govuk-table__cell"><strong class="govuk-tag">To&nbsp;do</strong></td>
                  </tr>

                  <tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0">
						<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
						  <input type="checkbox" class="govuk-checkboxes__input" id="">
						  <label class="govuk-label govuk-checkboxes__label" for="">
							<span class="govuk-visually-hidden"></span>
						  </label>
						</div>
					  </td>
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" data-sort-value="{{ data['facility-16-ukef-id'] }}">{{ data['facility-18-ukef-id'] }}</th>
                    <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-currency'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-currency'] }}</td>
                    <td class="govuk-table__cell">{{ data['facility-18-paid'] }}</td>
                    <td class="govuk-table__cell">900.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">220,000.00</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell">3,256.00</td>
                    <td class="govuk-table__cell">-</td>
					<td class="govuk-table__cell">10 Jul 2023</td>
					<td class="govuk-table__cell"><strong class="govuk-tag">To&nbsp;do</strong></td>
                  </tr>

                </tbody>
              </table>
			  <p class="govuk-body">If required, this keying sheet can be <a href="#" rel="noreferrer noopener" target="_blank">downloaded as an excel spreadsheet</a>.</p>


          {% elif ((data['bank-100-start'] == 'no') and (data['bank-100-task1'] == '')) or (data['bank-100-start'] == 'yes') %}

              <p class="govuk-body">The keying sheet will be available when the report is marked as completed.</p>

              {% endif %}

        </div>
        <!-- end of keying sheet tab -->

  </div>
  <!-- end of tabs wrapper -->

</div>
<!-- end of main col -->

</div>
<!-- end of main row -->

{% endblock %}
