{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Add to existing payment - {{ data['bank-100-name'] }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head3b.html" %}
  {% include "includes/primary-nav-banks-main-v3.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      
      <!--<input type="hidden" name="bank-100-task3-edit" value="done">
      <input type="hidden" name="bank-100-show-task" value="four">-->
      
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
        <span class="govuk-caption-l">{{ data['bank-100-name'] }}, {{ data['report-quarter-v3b'] }}</span>
        Add to an existing payment
      </h1>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Selected reported fee details
          </h2>
          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Reported fee</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ data['facility-401-ukef-id'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-401-name'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-403-currency'] }} {{ data['facility-403-paid'] }}</td>
              </tr>
            </tbody>
            <tfoot> 
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right" colspan="2">Total reported fee:</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold">{{ data['v3b-USD-total'] | safe }}</td>
              </tr>    
              </tfoot>   
            </table>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Which payment do you want to add the reported fee to?</legend>
                
                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">

                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="GBP" name="bank-100-task3-edit-currency" type="radio" value="GBP">
                            <label class="govuk-label govuk-radios__label" for="GBP">{{ data['facility-403-currency'] }} 8,990.00</label>
							<div id="GB-hint" class="govuk-hint govuk-radios__hint">
								Payment reference: {{ data['bank-100-name'] | upper}}/GEF/USD/8990 
							</div>
							</div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="EUR" name="bank-100-task3-edit-currency" type="radio" value="EUR">
                            <label class="govuk-label govuk-radios__label" for="EUR">{{ data['facility-403-currency'] }} 2,145.00</label>
							<div id="EUR-hint" class="govuk-hint govuk-radios__hint">
								Payment reference: {{ data['bank-100-name'] | upper}}/GEF/USD/2145
							</div>
                          </div>

                    </div>
                  </fieldset>
                </div>
				<div class="govuk-button-group">
                  {{ govukButton({
                    text: "Continue"
                  }) }}
				  <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
				</div>
            </fieldset>   

</div>

</div>
{% endblock %}
