{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Add to existing payment - {{ data['bank-100-name'] }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head3b.html" %}
  {% include "includes/primary-nav-banks-main-v3.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      
      <!--<input type="hidden" name="bank-100-task3-edit" value="done">
      <input type="hidden" name="bank-100-show-task" value="four">-->
      
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
        <span class="govuk-caption-l">{{ data['bank-100-name'] }}, {{ data['report-month'] }}</span>
        Add to an existing payment
      </h1>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Selected facility details
          </h2>
		  <dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key govuk-!-width-one-half">
			  Facility ID
			  </dt>
			  <dd class="govuk-summary-list__value">
				{{ data['facility-200-ukef-id'] }}
			  </dd>
			</div>

			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key govuk-!-width-one-half">
			  Exporter
			  </dt>
			  <dd class="govuk-summary-list__value">
				{{ data['facility-200-name'] }}
			  </dd>
			</div>

			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key govuk-!-width-one-half">
			  Facility base currency
			  </dt>
			  <dd class="govuk-summary-list__value">
				{{ data['facility-200-currency'] }}
			  </dd>
			</div>


		  <div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key govuk-!-width-one-half">
		  Reported fee payable
		  </dt>
		  <dd class="govuk-summary-list__value">
			  {{ data['facility-200-currency'] }} {{ data['facility-200-paid'] }}
		  </dd>
	  </div>
  </dl>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Which payment do you want to add the facility to?</legend>
                
                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">

                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="GBP" name="bank-100-task3-edit-currency" type="radio" value="GBP">
                            <label class="govuk-label govuk-radios__label" for="GBP">{{ data['bank-100-task1-currency'] }} {{ data['bank-100-task1-amount'] }}</label>
							<div id="GB-hint" class="govuk-hint govuk-radios__hint">
								Payment reference: {{ data['bank-100-task1-reference'] }} 
							</div>
							</div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="EUR" name="bank-100-task3-edit-currency" type="radio" value="EUR">
                            <label class="govuk-label govuk-radios__label" for="EUR">{{ data['bank-100-task2-currency'] }} {{ data['bank-100-task2-amount'] }}</label>
							<div id="EUR-hint" class="govuk-hint govuk-radios__hint">
								Payment reference: {{ data['bank-100-task2-reference'] }}  
							</div>
                          </div>

                    </div>
                  </fieldset>
                </div>
				<div class="govuk-button-group">
                  {{ govukButton({
                    text: "Continue"
                  }) }}
				  <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
				</div>
            </fieldset>   

</div>

</div>
{% endblock %}
