<table class="govuk-table" data-module="moj-sortable-table">
                <col>
                <col>
                <col>
                <col>
                <col>
                <colgroup span="2"></colgroup>
                <colgroup span="2"></colgroup>
                <colgroup span="2"></colgroup>
                <col>
                <thead class="govuk-table__head">  
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending" rowspan="2">Facility ID</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Exporter</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Base currency</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Fee currency</th>
                  <th scope="col" class="govuk-table__header" rowspan="2">Fee payment</th>
                  <th scope="col" class="govuk-table__header" colspan="2">Premium accrual balance adjustment</th>
                  <th scope="col" class="govuk-table__header" colspan="2">Principal balance adjustment</th>
                  <th scope="col" class="govuk-table__header" colspan="2">Fee adjustment</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" rowspan="2">Status</th>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Decrease</th>
                  <th scope="col" class="govuk-table__header">Increase</th>
                  <th scope="col" class="govuk-table__header">Decrease</th>
                  <th scope="col" class="govuk-table__header">Increase</th>
                  <th scope="col" class="govuk-table__header">Decrease</th>
                  <th scope="col" class="govuk-table__header">Increase</th>
                </tr>
              </thead>
            
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020002167">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020002167">0020002167
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Meridian Manufacturing Ltd</td>
                  <td class="govuk-table__cell">USD</td>
                  <td class="govuk-table__cell">USD</td>
                  <td class="govuk-table__cell">1,000.00</td>
                  <td class="govuk-table__cell">205.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">195,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">705.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="1"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020002193">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020002193">0020002193
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">British Tech Innovators Ltd</td>
                  <td class="govuk-table__cell">EUR</td>
                  <td class="govuk-table__cell">EUR</td>
                  <td class="govuk-table__cell">1,500.00</td>
                  <td class="govuk-table__cell">175.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">215,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">655.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="1"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr> 

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020003073">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020003073">0020003073
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Automation Solutions Ltd</td>
                  <td class="govuk-table__cell">EUR</td>
                  <td class="govuk-table__cell">EUR</td>
                  <td class="govuk-table__cell">1,760.00</td>
                  <td class="govuk-table__cell">340.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">565,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">1,120.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="1"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020002154">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020002154">0020002154
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Direct Engineering Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">2,500.00</td>
                  <td class="govuk-table__cell">560.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">240,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">920.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="2"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020002198">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020002198">0020002198
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Innovate Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">1,100.00</td>
                  <td class="govuk-table__cell">210.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">435,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">540.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="2"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020002565">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020002565">0020002565
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Britannia Energy Ltd</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">945.00</td>
                  <td class="govuk-table__cell">85.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">110,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">2,010.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="2"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020002896">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020002896">0020002896
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Marine Equipment Ltd</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">1,026.00</td>
                  <td class="govuk-table__cell">220.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">724,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">980.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="2"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020002983">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020002983">0020002983
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Able Robotics Ltd</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">2,150.00</td>
                  <td class="govuk-table__cell">435.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">638,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">620.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="2"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020003182">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020003182">0020003182
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">AirTech Ltd</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">1,020.00</td>
                  <td class="govuk-table__cell">240.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">225,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">1,115.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="2"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>
              
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input type="checkbox" class="govuk-checkboxes__input" id="key-0020003209">
                      <label class="govuk-label govuk-checkboxes__label" for="key-0020003209">0020003209
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Precision Engineering Ltd</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">GBP</td>
                  <td class="govuk-table__cell">830.00</td>
                  <td class="govuk-table__cell">190.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">155,000.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">915.00</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell" data-sort-value="2"><strong class="govuk-tag">To&nbsp;do</strong></td>
                </tr>

              </tbody>
              </table>